---
import Sidebar from "./Sidebar.astro";
import "../global.css";
import "sashimi-ui/default.theme.css";
import "sashimi-ui/bundle.css";

interface Props {
	title?: string;
	frontmatter?: { title?: string };
}

const { title: rawTitle, frontmatter } = Astro.props;
const title = rawTitle ?? frontmatter?.title;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}/favicon.svg`} />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} | sashimi UI` : 'sashimi UI - a minimal CSS framework'}</title>
	</head>
	<body class="layout">
		<nav id="navigation">
			<Sidebar title='menu' body='' href='' />
		</nav>
		<button class="menu-button button tertiary" onclick="document.getElementById('navigation').classList.toggle('open');">
			<svg class="icon"><use href={`${import.meta.env.BASE_URL}/menu.svg`} /></svg>
		</button>
		<main class="main">
			<slot />
		</main>
	</body>
</html>
<style>
	.layout {
		display: grid;
		grid-template-columns: 220px 1fr;
	}
	.menu-button {
		display: none;
	}
	.main {
		padding: 24px 32px 120px;
	}

	@media (max-width: 768px) {
		.layout {
			display: block;
		}
		.menu-button {
			display: block;
			position: fixed;
			top: 16px;
			right: 16px;
			z-index: 22;
		}
		#navigation {
			display: none;
			position: fixed;
			inset: 0;
			background-color: var(--sui-color-surface);
			z-index: 10;
		}
		#navigation.open {
			display: block;
		}
	}
</style>
