---
import type { CSSProperty } from "astro/types";

interface Props {
	id?: string;
	style?: CSSProperty;
	className?: string;
	filled?: boolean;
}

const { id, style, filled = false, className } = Astro.props;
---

<div id={id} class:list={["wrapper","card", {"filled": filled}, className]} style={style}>
  <slot />
</div>

<style>
  .wrapper {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      justify-content: flex-start;
    }
  }

  .filled {
    background: var(--sui-color-highlight-secondary);
  }
</style>