---
import Layout from "../components/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Home</h1>
		<p>sashimi UI is an UI library which brings out the best of the ingredients(HTML)</p>

		<h2>Q&A</h2>
		<h3>Is it a Bootstrap again?</h3>
		<p>Yes!! But more focused on HTML Elements' native power.<br/>If it's not an HTML job, it's not a sashimi UI job either.</p>
	</main>
</Layout>

<style>
	.button.large {
		height: 48px;
		border-radius: 16px;
		font-weight: 600;
		font-size: 18px;
		padding: 0 24px;
	}
</style>
