/* Reset */
.card:where(button) {
	font: inherit;
	border: none;
	background: none;
	text-align: inherit;
}
.card:where(a) {
	text-decoration: none;
	color: inherit;
}

/* Base */
.card {
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: var(--sui-roundness-normal);
	border: 1px solid var(--sui-color-outline-primary);
	padding: var(--sui-base-padding);
	box-sizing: border-box;
	background-color: var(--sui-color-surface);
	z-index: 0;
}
.card:where(a),
.card:where(button) {
	color: inherit;
	cursor: pointer;
}

.card:where(a):hover::before,
.card:where(button):hover::before {
	content: "";
	display: block;
	position: absolute;
	inset: 0;
	background-color: var(--sui-color-highlight-secondary);
	z-index: -1;
}

/* Ripple Effect */
.card:where(a):hover::after,
.card:where(button):hover::after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 110%;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	background-color: var(--sui-color-neutral-primary);
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: all 200ms ease-out;
	z-index: 1;
}

.card:where(a):active::after,
.card:where(button):active::after {
	width: 0px;
	height: 0px;
	opacity: var(--sui-broad-ripple-effect-density);
	transition: all 0s;
}
